{:source-paths ["src"]
 :dependencies [[reagent "1.2.0"]
                [re-frame "1.3.0"]]
 :builds {:app {:target :browser
                :output-dir "resources/public/js"
                :asset-path "/js"
                :modules {:main {:init-fn position-manager.core/init}}
                :devtools {:http-port 3000
                           :http-root "resources/public"}}}}
